[submodule "CStructures"]
	path = CStructures
	url = https://github.com/UniversityOfPlymouth-Electronics/CStructures
[submodule "CPPClasses"]
	path = CPPClasses
	url = https://github.com/UniversityOfPlymouth-Electronics/CPPClasses
[submodule "Complex"]
	path = Complex
	url = https://github.com/UniversityOfPlymouth-Electronics/Complex
